body{
  padding: auto;
  margin: auto;
  height: 100% !important;
  width: 100% !important;
  background-image: url(./assets/slot-background.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* Ajuste para cobrir o espaço disponível */
  background-position: center;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Arial", sans-serif;
  padding: 11px;
  box-sizing: border-box;
}

.history-button{
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 16px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #c82333;
  font-size: 25px;
  text-align: center;
  padding: 4px;
}
.App-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #282828;
  color: white;
  font-family: "Arial", sans-serif;
}
/* Adaptação para telas menores */
@media (max-width: 768px) {
  .App {
    padding: 5px;
  }

  .controls {
    width: 95%;
  }

  .bet-input,
  .spin-button,
  .balance,
  .winMessage,
  .error-message {
    font-size: 16px;
    padding: 8px;
  }

  .spin-button {
    padding: 10px;
  }
}

/* Adaptação para telas muito pequenas ou dispositivos móveis */
@media (max-width: 480px) {
  .bet-input,
  .spin-button,
  .balance,
  .winMessage,
  .error-message {
    font-size: 14px;
    padding: 5px;
  }

  .spin-button {
    padding: 8px 10px;
  }

  .controls {
    width: 100%;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.bet-input,
.spin-button,
.balance,
.winMessage,
.error-message {
  margin: 10px 0;
}

.bet-input {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: auto; /* Garanta que o input não exceda a largura da tela */
  max-width: 300px; /* Ou qualquer valor máximo que pareça bom */
}

.spin-button {
  background-color: #30303044;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  width: 72px;
  height: 72px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.spin-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.spin-button:hover {
  background-color: #c82333;
}

.balance-display {
  font-size: 24px;
  color: #ffd700;
}
.info-bet{
  background-color: rgba(36, 36, 36, 0.671);
  width: 100%;
  border-radius: 8px;
  padding: 8px;
}
.last-win-display {
  color: #4caf50;
  font-size: 24px;
}

.error-message {
  color: #ff4d4d;
  font-size: 28px;
}
